data/network/*
data/geometry/*
data/graph/*
pipeline/__pycache__/*
pipeline/lib/__pycache__/*
backend/__pycache__/*
backend/core/__pycache__/*
scripts/dev/__pycache__/*
edge_counts.csv
DALES-2-DATASET/
huggingface/